<h2>Resources</h2>

<div class="api-list">
    <b>[</b>

    <% apiList.forEach((elem, index) => { %>
        <a href="<%= elem %>" target="_blank">
            "<%= elem %>"<% if (index !== apiList.length-1) { %>,<% } %>
        </a> 
    <% }) %>

    <b>]</b>
</div>